body {
	margin:0;
	font-family: Helvetica;
}

h1 {
	font-weight: 100;
}

#container {
	display: flex;
	position: relative;
	background-image: url(logo_Ronan_Girault.png);
	justify-content: center;
	height: 100vh
	background-size: cover;
	padding: 200px;

}

.btn-twitter {
	color: #ffffff;
	background-color: #d23333;
	position: absolute;
	bottom:20px;
}